[theme]
theme = "solarized-dark"

[icons]
icons = "awesome4"

[[block]]
block = "custom"
command = "reboot-required"
shell = "bash"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "disk_space"
path = "/home"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "memory"
format = " $icon $mem_total_used_percents.eng(w:2) "
format_alt = " $icon_swap $swap_used_percents.eng(w:2) "

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "sound"

[[block]]
block = "battery"
format = " $icon $percentage "
missing_format = ""

[[block]]
block = "time"
interval = 60
format = " $icon $timestamp.datetime(f:'%A %d %B %Y %R', l:fr_CA) "
