[editor]
relative_line_numbers = true

#theme = "bogster"
#theme = "catppuccin-latte"
#theme = "catppuccin-frappe"
#theme = "catppuccin-macchiato"
#theme = "catppuccin-mocha"
#theme = "gruvbox"
#theme = "kanagawa"
#theme = "nord"
#theme = "onedark"
#theme = "tokyonight"

[swap]
exclude = [
    "*.gpg"
]

[keymap.normal]
<space>s = "@/\\b\\b<Left><Left>"
# TODO: add Ctrl-s "@magg"+yG'azz" when we have marks.

# Bépo remapping.
# Char/line movement
[keymap.normal]
c = "move-left"
r = "move-right"
t = "move-down"
s = "move-up"

# Word movement
é = "move-word-forward"
É = "move-big-word-forward"

# Change
l = "begin-change-operator"

# Join lines
T = "join-lines"

# Replace
h = "begin-replace-char"

# Until
j = "till-forward"

[keymap.operator]
é = "word-forward"
É = "big-word-forward"

j = "till-forward"

[keymap.visual]
# Char/line movement
c = "move-left"
r = "move-right"
t = "move-down"
s = "move-up"

# Word movement
é = "move-word-forward"
É = "move-big-word-forward"

# Change
l = "change-selection"

# Until
j = "till-forward"

# Substitute
#k = "select_regex"
